* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;    
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}


.navBar {
    background-color: rgb(221, 221, 221);
    /* padding-bottom: 100px;   */
    /* height: 180px; */
}

.topNavBarContainer {
    background-color: rgb(100, 100, 100);
    height: 62px;
}

.topNavBarContainer .topNavList {
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: white;
    padding-top: 1px;
}

.topNavList li {
    margin-left: 80px;
    text-decoration: none;
}

.topNavList .topNavListDiv {
    border: 2px solid black;
    height: 56px;
    padding: 0px 25px;
    display: flex;
    align-items: center;
}

/* showing the "view cart" as selected for now for dummy purposes */
.selectTester {
    background-color: rgb(148, 148, 148);
    font-weight: bold;
}

.bottomNavBarContainer {
    /* background-color: white; */
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoTitle {
    margin-left: 20px;
}

.bottomNavBarContainer .bottomNavList {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin-right: 120px;
    font-size: 45px;
}

.callWaiterButton {
    height: 60px;
    padding: 0px 30px;;
    border-radius: 20px;
    border: 0px solid white;
    background-color: rgb(175, 17, 17);
    color: white;
    font-size: 20px;
    margin-right: 20px;
}

.landingSection {
  background-image: url('img/landingPageImg.webp');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 162px); /* Subtract the height of the navigation bar */
  overflow: hidden;
  background-repeat: no-repeat;
  color: white;
}

.sloganContainer {
    position: relative;
    left: 22%;
    top: 40%;
}

.mainSlogan {
    font-size: 65px;
}

.secondarySlogan {
    font-size: 23px;
    color: rgb(143, 143, 143);
}
