.viewBillTitleContainer{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.viewBillTitle {
    font-size: 65px;
}

.viewBillDescription {
    font-size: 20px;
    margin: 7px 0px 0px 0;
    color: rgb(48,48,48);
}


.orderItem {
    list-style: none;
    padding: 10px;
    margin-bottom: 10px;
}

.itemDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.itemQuantity,
.itemName,
.itemPrice,
.totalPrice {
    margin: 5px;
}

.totalPrice {
    font-weight: bold;
}


.itemPhoto {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin-right: 10px;
}


.getBillButton {
    height: 70px;
    width: 400px;
    padding: 0px 30px;;
    border-radius: 20px;
    border: 0px solid white;
    background-color:	rgb(88,88,88);
    color: white;
    font-size: 20px;
    margin-left: 520px;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 50px;
    margin-top: 50px;
 
}

.modalText2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}